/* BUTTONS */
button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3ba6f3;
    color: white;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    height: 40px;
    width: 160px;
    font-weight: 500;
    letter-spacing: 0.5px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: all .2s ease-in;
    box-shadow: 0 3px 13px 0 rgba(31,41,48,.15);
}

button:hover {
    box-shadow: 0 4px 18px 0 rgba(31,41,48,.25);
    transform: translateY(-2px);
}
button:focus {
    outline: none;
}

/* INDEX */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    user-select: none;
}

h1 {
    margin-top: 10px;
    font-family: 'Cormorant', sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 17px;
    margin-bottom: 30px;
}

.roles {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.roles button + button {
    margin-top: 20px;
}

.logo {
    width: 300px;
    margin-bottom: -10px;
}

.index {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.index button {
    width: 145px;
    box-shadow: none;
    height: 34px;
    position: relative;
}

.index .red {
    background-color: #f33b3b;
}

.index button:hover {
    transform: none;
}

.index button + button {
    margin-top: 8px;
}

.index__temp {
    font-size: 160px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    margin-top: -45px;
}

.index__temp span {
    font-weight: 500;
    font-size: 70px;
    vertical-align: top;
    margin-top: 35px;
    display: inline-block;
    position: absolute
}

.index__sub {
    font-size: 22px;
    font-family: 'Oswald', sans-serif;
    margin-top: -30px;
    position: relative;
}

.index__time {
    font-size: 48px;
    font-family: 'Oswald', sans-serif;
    margin-top: -15px;
}

.voted {
    position: absolute;
    top: 0px;
    right: -45px;
    border-radius: 40px;
    width: 60px;
    box-shadow: 0 3px 5px 0 rgba(31,41,48,.15);
    transform: scale(0) rotate(0deg);
    transition: all ease-out 0.2s;
}

.selected-vote:after {
    height: 32px;
    width: 32px;
    border-radius: 4px;
    position: absolute;
    right: -38px;
    border: 3px solid transparent;
    content: '✓';
    box-sizing: border-box;
    color: #f33b3b;
    line-height: 10px;
    font-size: 46px;
}
.selected-vote:before {
    height: 32px;
    width: 32px;
    border-radius: 4px;
    position: absolute;
    right: -38px;
    border: 3px solid black;
    content: '✓';
    box-sizing: border-box;
    color: #f33b3b;
    line-height: 10px;
    font-size: 46px;
    -webkit-text-stroke: 3.5px white;
}

/* ADMIN */
.admin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.admin h2 {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
}

.admin input {
    width: 160px;
    height: 34px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

.admin__input {
    position: relative;
    margin-top: 10px;
}

.admin__input label {
    position: absolute;
    top: -15px;
    left: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px
}

.admin input:focus {
    outline: none;
    border: 2px solid #3ba6f3;
}

.admin input + input {
    margin-top: 10px;
}

.admin button {
    margin-top: 10px;
}

.degree-wrapper {
    position: relative;
}

.degree-wrapper:after {
    content: '°';
    position: absolute;
    top: 10px;
    left: 40px;
}


/* GENERAL */
.hidden {
    display: none;
}